:root {
  --desert-sand: #eef6df;
  --olivine-light: #B5CA8D;
  --olivine: #8BB174;
  --myrtle-green: #426B69;
  --myrtle-green-light: #519390;
  --space-cadet: #222E50;
  --space-cadet-light: #465784;
  --dark-slate-gray: #2A4849;
}

.childrow {
  display: none;
}

.childrow.active {
  display: table-row;
  transition: transform 0.3s ease;
}

.childrow.headchildrow {
  font-weight: 900;
}

.parent-row {
  font-weight: bolder;
  text-decoration: underline;
}

/* .dams-table .parent-row:hover, .dams-table .childrow:hover {
  background-color: white;
} */

.dams-table-body tr:hover td * {
  transform: scale(1);
  overflow:visible;
}

.parent-row .fa-circle-chevron-down, .parent-row:hover .fa-circle-chevron-down {
  color: #222E50;
  font-weight: bolder;
  font-size: larger;
  transform: rotate(270deg);
  transition: transform 0.3s ease;
}


.parent-row.active-parent {
  background-color: rgb(234, 233, 233);
}

.parent-row.active-parent .fa-circle-chevron-down {
  transform: rotate(360deg);
}


.dams-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.dams-table .dummy-td {
  border: none;
}

.dams-table .tr {
  border-top: 1px solid #ddd;
}


.arrival-state {
 display: inline-block;
  width: 100px;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  font-weight: 400;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

.arrival-state.on-plane {
  background-color: #0b7825;
}

.arrival-state.checked-in {
  background-color: #ef9517;
}

.arrival-state.waiting {
  background-color: #c72533;
}


