.content {
  padding: 3rem;
}

.head_booking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background: var(--space-cadet);
  color: white;
  padding: 1.2rem 1.8rem;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.search-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.search-bar {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 24px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  width: 50%;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-bar:hover {
  border-color: var(--space-cadet);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px) scale(1.01);
}

.search {
  flex: 1;
  height: 48px;
  padding: 0 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background: transparent;
  color: #2c3e50;
  font-weight: 400;
}

.search::placeholder {
  color: var(--text-secondary);
  font-weight: 300;
}

.search-btn {
  color: var(--space-cadet);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background: transparent;
  position: relative;
}

.search-btn:hover {
  transform: scale(1.1);
}

.booking-table tr td:first-of-type {
  font-weight: 800;
}

.add-btn {
  background-color: var(--myrtle-green);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

.add-btn:hover {
  background-color: var(--myrtle-green-light);
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.booking-table {
  min-width: min-content;
  width: calc(100%);
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.table-container {
  overflow-x: auto;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

thead {
  border-radius: 10px;
}

.booking-table th {
  background-color: var(--space-cadet);
  color: white;
  padding: 15px;
  font-weight: bold;
}

.booking-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.status {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  font-weight: 400;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

.status.confirmed {
  background-color: #0b7825;
}

.status.pending {
  background-color: #ef9517;
}

.status.cancelled {
  background-color: #c72533;
}

.options {
  display: flex;
  gap: 10px;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.option {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
}

.option:hover {
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.2);
}

.fa-edit {
  color: var(--myrtle-green);
}

.fa-trash {
  color: #c0392b;
}

.bookingTbBody tr:hover {
  background-color: rgb(234, 233, 233);
}

.bookingTbBody tr:hover td *{
  transform: scale(1.02);
  overflow: hidden;
}