.content {
    padding: 3rem;
}

.head_booking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    background: var(--space-cadet);
    color: white;
    padding: 1.2rem 1.8rem;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.title {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
}

.add-btn {
    background-color: var(--myrtle-green);
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

.add-btn:hover {
    background-color: var(--myrtle-green-light);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


.booking-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.booking-table th {
    background-color: var(--space-cadet);
    color: white;
    padding: 12px;
    font-weight: 600;
}

.booking-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.status {
    display: inline-block;
    width: 100px; 
    text-align: center;
    padding: 6px 0; 
    border-radius: 5px;
    font-weight: 400;
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
}


.status.confirmed {
    background-color: #0b7825;
}

.status.pending {
    background-color: #ef9517;
}

.status.cancelled {
    background-color: #c72533;
}

.options {
  display: flex;
  gap: 8px;
}

.options{
  display:flex;
  justify-content: center;
  align-items: center;
}

.option {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
}

.option:hover {
  transform: scale(1.2);
  background-color: rgba(0,0,0,0.2);
}

.fa-eye {
  color: var(--space-cadet-light);
}

.fa-edit {
  color: var(--myrtle-green);
}

.fa-trash {
  color: #c0392b;
}

