/* check in overlay */

.check-in-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 42, 62, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  visibility: hidden;

}

.check-in-overlay.active {
  visibility: visible;
  opacity: 1;
}



.step {
  background-color: #222e50c9;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 550px;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  color: white;
  backdrop-filter: blur(5px);
  display: none;
}

#check-in-form {
  background: none;
  backdrop-filter: none;
  box-shadow: none;
  height: 50%;
}
.dep-dest {
  display: flex;
  align-items: center;
  position: relative;
}

.dep-dest label {
  display: inline-block;
}

.dep-dest input {
  margin-right: 5px;
  
}

.dep-dest label:nth-child(2) {
  position: absolute;
  left: 50%;;
}


.seatmap {
  background: none;
  backdrop-filter: none;
  box-shadow: none;
}

.step.active {
  display: block;
}


.step-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--logo-white);
  border-radius: 10px;
  padding: 10px 10px;
  
}

.step-title {
  text-align: center;
  font-weight: bold;
 
  border-bottom-style: solid;
  border-bottom-color: #eef6df;  
}

.cabin {
  padding: 0;
  border-radius: 10px;
  margin-bottom: 0;
}

.cabin h2 {
  color: var(white);
  text-align: center;
  border-bottom: 2px solid #eef6df;
  width: 220px;
  margin: 0 auto 15px auto;
}

.seat-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px 0;
}

.aisle {
  width: 3%;
}

.seat {
  width: 55px;
  height: 30px;
  line-height: 20px;
  margin: 1%;
  border-radius: 6px;
  color: var(--logo-white);
  font-weight: bolder;
  font-size: medium;
  cursor: pointer;
  text-align: center;
  transition: transform 0.15s, background-color 0.3s;
  box-shadow: 3px 3px 3px #222E50;
  backdrop-filter: blur(5px);
}

.seat:hover {
  transform: translateY(-2px);
}

/* Seat class colors */
.seat.first-class {
  background-color: var(--dark-slate-gray);
}

.seat.business {
  background-color: var(--myrtle-green);
}

.seat.economy {
  background-color: var(--myrtle-green-light);
}

/* Taken seat */
.seat.taken {
  background-color: grey !important;
}



