@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    padding: 30px;
    margin: 0;
    min-height: calc(100vh - 60px);
    background-color: black;
    color: white;
    font-family: "Space Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 900;
}

.logo {
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.welcome-msg {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: rgb(180, 247, 72);
}

.marquee {
    margin: 10px auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    width: calc(100vw - 60px);
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
}

.marquee2 span {
    animation-delay: 2.5s;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}


.pane {
    border: solid 5px white;
    margin-top: 45px;
    height: calc(100vh - 180px);
    overflow: hidden;
}

table {
    width: 100%;
    font-size: 28px;
    margin: 10px;
    letter-spacing: 4px;
}

th {
    text-align: left;
    padding: 3px;
    color: rgb(180, 247, 72);
}

td {
    text-align: left;
    padding: 3px;
}

.logo-grid {
    display: grid;
    grid-template-columns: min-content min-content auto min-content;
}

h1 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
    font-size: 40px;
}


.form-container {
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    display: flex;
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-form select,
.centered-form input[type="submit"] {
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 1.1em;
    border-radius: 4px;
    outline: none;
    width: 220px;
    text-align: center;
    cursor: pointer;
    display: block;
    transition: all 0.5s;
    font-family: "Space Mono", monospace;

}



.centered-form select:hover,
.centered-form input[type="submit"]:hover {
    color: black;
    background-color: white;
}

.centered-form input[type="submit"]:hover {
    padding-top: 15px;
    padding-bottom: 15px;
}

.centered-form select {
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.centered-form option {
    color: black;
    background: white;
}


label{
    text-align: center;
    font-weight: 400;
}