* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom, rgba(87, 65, 65, 0.7), transparent), url("/static/images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.form-area {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.wrapper {
	width: 550px;
	color: white;
	padding: 50px 50px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	border: 2px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	text-align: center;
}

.wrapper h1 {
	font-size: 38px;
	font-weight: bold;
	margin-bottom: 20px;
    color: rgb(42, 37, 37)
}

.subtitle {
	font-size: 16px;
    font-weight: 500;
	color: rgb(42, 37, 37);
	margin-bottom: 35px;
	line-height: 1.5;
}

.form-group {
	margin-bottom: 25px;
	text-align: left;
}

.form-group label {
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8px;
    margin-left: 10px;
	color: rgb(42, 37, 37);
}

.input-wrapper input {
	width: 100%;
	height: 50px;
	border: 1px solid #bababa;
	border-radius: 50px;
	background: transparent;
	color: white;
	font-size: 16px;
	padding: 15px 20px;
	outline: none;
	transition: all 0.3s ease;
}

.input-wrapper input:focus {
	border-color: black;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.submit-btn {
	width: 100%;
	padding: 15px;
	background: white;
	color: #262626;
	border: none;
	border-radius: 50px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s ease;
}

.submit-btn:hover {
    background-color: var(--myrtle-green);
	transform: translateY(-3px);
    transform: scale(1.03);
}

.info-box {
	margin-top: 25px;
	font-size: 14px;
	color: #ddd;
	line-height: 1.5;
}

.back-to-login {
	margin-top: 25px;
}

.back-to-login a {
	color: rgb(255, 251, 251);
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
    display: inline-block;
}

input::placeholder{
    color: rgb(60, 55, 55);
}

.back-to-login a:hover {
	color: var(--myrtle-green);
    transform: scale(1.1);
}

@media (max-width: 600px) {
	.wrapper {
		width: 90%;
		padding: 40px 25px;
	}
	.wrapper h1 {
		font-size: 26px;
	}
}
