@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --desert-sand: #eef6df;
  --olivine-light: #B5CA8D;
  --olivine: #8BB174;
  --myrtle-green: #426B69;
  --myrtle-green-light: #519390;
  --space-cadet: #222E50;
  --space-cadet-light: #465784;
  --dark-slate-gray: #2A4849;
}

body {
  background-color: var(--desert-sand);
  color: var(--space-cadet);
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 360px calc(100vw - 360px);
  min-height: 100vh;
  width: 100vw!important;
}

button {
  background-color: var(--mint);
  border: 2px solid var(--hookers-green);
}

.sidebar {
  width: 280px;
  background-color: var(--space-cadet);
  color: var(--desert-sand);
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.top {
  flex: 1;
}

.sidebar h2 {
  margin: 0 10px 1.5rem;
}

.sidebar a {
  text-decoration: none;
  color: var(--cambridge-blue);
  padding: 10px;
  border-radius: 6px;
  transition: all 0.4s;
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
}

.sidebar a:hover {
  background-color: var(--myrtle-green-light);
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.content {
  flex: 1;
  padding: 2rem;
}

.nav-title {
  font-size: small;
  text-align: center;
  color: var(--space-cadet-light);
  font-weight: 500;
}

.sidebar hr {
  width: 100%;
  margin-top: 0;
  height: 2px;
  background-color: var(--space-cadet-light);
  border: none;
}

/* form ui */

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 42, 62, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  visibility: hidden;
}

.form-overlay.active {
  opacity: 1;
  visibility: visible;
}

.BookingForm {
  background-color: #222e50c9;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 550px;
  color: white;
  backdrop-filter: blur(5px);
}

.BookingForm h2 {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
}

.BookingForm label {
  display: block;
  margin: 0.5rem 0 0.1rem;
  font-weight: 600;
  color: white;
}

.BookingForm input,
.BookingForm select {
  width: 100%;
  padding: 0.55rem 0.75rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: inset 0 5px 10px rgba(0,0,0,0.2);
  background-color: #b0b9d3;
  box-sizing: border-box;
}

.BookingForm input:focus,
.BookingForm select:focus {
  outline: none;
  border-color: var(--myrtle-green);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.name-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.name-container label {
  flex: 1 1 45%;
}

.name-container input {
  flex: 1 1 45%;
}

.form-actions {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.submit-btn,
.cancel-btn {
  flex: 1;
  padding: 0.85rem;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  color: white;
}

.submit-btn {
  background-color: var(--myrtle-green);
  
}

.submit-btn:hover {
  background-color: var(--myrtle-green);
  transform: translateY(-2px);
}

.cancel-btn {
  background-color: var(--space-cadet-light);
}

.cancel-btn:hover {
  background-color: var(--space-cadet);
  transform: translateY(-2px);
}