@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: var(--myrtle-green-light);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--myrtle-green);
}


:root {
  --space-bg: #eceeef;
  --desert-sand: #eef6df;
  --olivine-light: #B5CA8D;
  --olivine: #8BB174;
  --myrtle-green: #426B69;
  --myrtle-green-light: #519390;
  --space-cadet: #222E50;
  --space-cadet-light: #465784;
  --dark-slate-gray: #2A4849;
}

body {
  background-color: var(--space-bg);
  color: var(--space-cadet);
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 360px calc(100vw - 360px);
  width: calc(100vw - 4px) !important;
  height: 100vh;
}

.logo-sidebar {
  width: 100%;
  height: 50px;
  object-fit: contain;
}

main {
  overflow-y: auto;
  min-height: 100vh;
}

button {
  background-color: var(--mint);
  border: 2px solid var(--hookers-green);
}

.sidebar {
  width: 280px;
  background-color: var(--space-cadet);
  color: var(--desert-sand);
  display: flex;
  flex-direction: column;
  padding: 40px;
  overflow-y: auto;
  height: calc(100% - 80px);
}

.top {
  flex: 1;
}

.sidebar h2 {
  margin: 0 10px 1.5rem;
}

.sidebar a {
  text-decoration: none;
  color: var(--cambridge-blue);
  padding: 10px;
  border-radius: 6px;
  transition: all 0.4s;
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
}

.sidebar a:hover {
  background-color: var(--myrtle-green-light);
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.content {
  flex: 1;
  padding: 30px;
  background-image: url("/static/images/dz.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) calc(100px + 20vh);
  background-attachment: fixed;
  min-height: 100vh;
  box-sizing: border-box;
}

.nav-title {
  font-size: small;
  text-align: center;
  color: var(--space-cadet-light);
  font-weight: 500;
}

.sidebar hr {
  width: 100%;
  margin-top: 0;
  height: 2px;
  background-color: var(--space-cadet-light);
  border: none;
}

/* form ui */

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 42, 62, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  visibility: hidden;

}

.form-overlay.active {
  opacity: 1;
  visibility: visible;
}

.dams-add-form {
  background-color: #222e50c9;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 550px;
  max-height: 90vh;
  overflow-y: scroll;
  color: white;
  backdrop-filter: blur(3px);

}

.dams-add-form h2 {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
}

.dams-add-form label {
  display: block;
  margin: 0.5rem 0 0.1rem;
  font-weight: 600;
  color: white;
}

.dams-add-form input,
.dams-add-form select {
  width: 100%;
  padding: 0.55rem 0.75rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #b0b9d3;
  box-sizing: border-box;
}

.dams-add-form input:focus,
.dams-add-form select:focus {
  outline: none;
  border-color: var(--myrtle-green);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.name-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.name-container label {
  flex: 1 1 45%;
}

.name-container input {
  flex: 1 1 45%;
}

.form-actions {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.submit-btn,
.cancel-btn {
  flex: 1;
  padding: 0.85rem;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  color: white;
}

.submit-btn {
  background-color: var(--myrtle-green);

}

.submit-btn:hover {
  background-color: var(--myrtle-green);
  transform: translateY(-2px);
}

.cancel-btn {
  background-color: var(--space-cadet-light);
}

.cancel-btn:hover {
  background-color: var(--space-cadet);
  transform: translateY(-2px);
}

.floating-button {
  display: none;
}

.floating-button:hover {
  background-color: var(--space-cadet-light);
}

.hidden {
  display: none;
}

.dams-head {
  display: grid;
  grid-template-columns: auto max-content;
  margin-bottom: 1rem;
  background: var(--space-cadet);
  color: white;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 20px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.search-bar {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 24px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  width: 50%;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-bar:hover {
  border-color: var(--space-cadet);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px) scale(1.01);
}

.search {
  flex: 1;
  height: 48px;
  padding: 0 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background: transparent;
  color: #2c3e50;
  font-weight: 400;
}

.search::placeholder {
  color: var(--text-secondary);
  font-weight: 300;
}

.search-btn {
  color: var(--space-cadet);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background: transparent;
  position: relative;
}

.search-btn:hover {
  transform: scale(1.1);
}

.dams-table tr td:first-of-type {
  font-weight: 800;
}

.add-btn {
  background-color: var(--myrtle-green);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

.add-btn:hover {
  background-color: var(--myrtle-green-light);
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.dams-table {
  min-width: min-content;
  width: calc(100%);
  border-collapse: collapse;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.439);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.table-container {
  overflow-x: auto;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

thead {
  border-radius: 10px;
}

.dams-table th {
  background-color: var(--space-cadet);
  color: white;
  padding: 15px;
  font-weight: bold;
}

.dams-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.status {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  font-weight: 400;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

.status.Confirmed,
.status.Active,
.status.Scheduled {
  background-color: #0b7825;
}

.status.Pending,
.status.Maintenance,
.status.Waiting,
.status.Delayed {
  background-color: #ef9517;
}

.status.Cancelled,
.status.Out,
.status.Retired,
.status.Canceled {
  background-color: #c72533;
}

.status.Hijacked {
  background-color: #8c127a;
}

.status.Arrived {
  background-color: blue;
}

.error-msg {
    color: #e03131;
    padding: 12px 16px;
    margin: 15px 0;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.option {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
}

.option:hover {
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.2);
}

.fa-edit {
  color: var(--myrtle-green);
}

.fa-trash {
  color: #c0392b;
}

.fa-user-check {
  color: #222E50;
  font-size: larger;
}

.dams-table-body tr:hover {
  background-color: rgb(234, 233, 233);
}

.dams-table-body tr:hover td * {
  transform: scale(1.02);
  overflow: hidden;
}


@media screen and (max-width: 1100px) {
  body {
    display: block;
  }

  .mobile-hidden {
    display: none;
  }

  .floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--space-cadet);
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }

  .sidebar {
    width: calc(100% - 80px);
  }

  h1 {
    font-size: 20px;
  }

  .search-container {
    flex-direction: column;
  }

  .search-bar {
    width: 100%
  }

  .dams-add-form {
    border-radius: 0px;
    backdrop-filter: none;
    box-shadow: none;
    background-color: transparent;
    box-shadow: 0 10px 0px rgba(0, 0, 0, 0);

  }

  .form-overlay {
    background-color: #192444e6;
    backdrop-filter: blur(5px);
  }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.spinner-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.439);
}

.spinner {
  margin-bottom: 10px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 3px solid;
  border-color: var(--myrtle-green);
  border-top-color: transparent;
  animation: spin 1s linear infinite;
  box-sizing: border-box;
}

.r-10{
  border-radius: 10px;
}

.bg-transparent{
  background-color: transparent;
  background: transparent;
}